body {
    font-family: $fontFamilyGlobal;
    color: $primaryColor;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

    @include mobile {
        min-width: 480px;
    }

    @include tablet {
        min-width: 768px;
    }
    @include desktop {
        min-width: 1200px;
    }
}
a {
    list-style-type: none;
    text-decoration: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    border-bottom: solid;
    border-color: #ececec;
    border-width: 1px;
}
.headings {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 50px;
}

.main__button {
    color: $titleColor;
    cursor: pointer;
    background-color: $accentColor;
    font-weight: 700;
    font-size: $fontSizeMedium;
    width: 200px;
    height: 50px;
}
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg)
        skew(40deg 40deg);
}
