body {
    font-family: $fontFamilyGlobal;
    color: $primaryColor;
}

.section {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    list-style-type: none;
    text-decoration: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    border-bottom: solid;
    border-color: #ececec;
    border-width: 1px;
}
.headings {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg)
        skew(40deg 40deg);
}
