.lorem-ipsum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    list-style: none;

    &__icons {
        background-color: $bg-iconColor;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__name {
        font-weight: 700;
        font-size: $fontSizeSmall;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
    &__description {
        font-size: $fontSizeSmall;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $contactColor;
        text-align: left;
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .lorem-ipsum {
        display: flex;
        flex-direction: row;
        flex-basis: calc((100% - 1 * 20px) / 2);
        list-style: none;
        gap: 30px;
        flex-wrap: wrap;

        &__item {
            fill: $textColor;
            max-width: 354px;
        }

        &__icons {
            fill: $textColor;
            background-color: $bg-iconColor;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 450px;
        }

        &__name {
            font-weight: 700;
            font-size: $fontSizeSmall;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            padding-top: 30px;
            padding-bottom: 10px;
            text-align: center;
        }
        &__description {
            font-size: $fontSizeSmall;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: $contactColor;
            text-align: left;
            max-width: 450px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .lorem-ipsum {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        &__icons {
            fill: $textColor;
            text-align: center;
            background-color: $bg-iconColor;
            width: 270px;
        }
        &__name {
            padding-bottom: 10px;
        }
        &__description {
            height: 75px;
            padding-bottom: 94px;
            width: 270px;
        }
    }
}
