.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1600px;
    height: 80px;
    list-style: none;
    padding-top: 24px;
    padding-bottom: 25px;

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 46px;
        list-style: none;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        list-style: none;
        margin: auto;
        color: $contactColor;
        padding-left: 345px;
    }
    &__logo {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-decoration: none;
        text-shadow: 2px, 2px, 4px, $primaryColor;
        font-family: $fontFamilyGlobal;
        letter-spacing: 0.03em;
        text-shadow: 2px, 2px, 4px, $textColor;
        color: $accentColor;
        color: $primaryColor;

        &--web {
            color: $accentColor;
        }
    }
    &__links {
        color: $primaryColor;
        cursor: pointer;
        font-size: inherit;
        font-weight: 500;
        text-decoration: none;
        display: flex;

        &:active,
        &:hover {
            color: $accentColor;
            transition-duration: 250ms;
            transition-timing-function: $cubicBezier;
        }
    }
    &__icons {
        color: $contactColor;
        fill: $contactColor;
        cursor: pointer;
        font-weight: 500;
        justify-content: right;
        font-size: $fontSizeSmall;
        transition-duration: 250ms;
        transition-timing-function: $cubicBezier;

        &:active,
        &:hover {
            color: $accentColor;
            fill: $accentColor;
        }
    }
    &__underscore {
        position: relative;
        top: 28px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            display: block;
            width: 53px;
            height: 4px;
            background-color: $accentColor;
            border-radius: 2px;
        }
    }

    &__underscore-portfolio {
        position: relative;
        top: 28px;

        &__underscore-portfolio::after {
            content: "";
            position: absolute;
            left: 0;
            display: block;
            width: 58px;
            height: 4px;
            background-color: $accentColor;
            border-radius: 2px;
        }
    }
}
