@media screen and (min-width: 900px) {
    .team {
        &__list {
            display: flex;
            flex-basis: calc ((100% - 4 * 90) / 4);
            height: 708px;
        }

        &__item {
            flex-basis: calc ((100% - 4 * 90) / 4);
            width: 270px;
            text-align: center;
            letter-spacing: 0.03em;
            padding-bottom: 30px;
            background-color: $titleColor;
        }

        &__social {
            display: flex;
            fill: $contactColor;
            justify-content: center;
            margin: auto;
            list-style: none;
            padding-top: 12px;
            max-width: 206px;

            &--item {
                margin: auto;
                fill: $contactColor;
                cursor: pointer;
                width: 44px;
                height: 44px;
                padding: 12px;

                &:hover,
                &:focus {
                    fill: $titleColor;
                    background-color: $accentColor;
                    padding: 10px;
                    border-radius: 50%;
                    transition-duration: 250ms;
                    transition-timing-function: $cubicBezier;
                }
            }
        }
    }
}

.team {
    background-color: $bg-iconColor;
    margin: auto;

    &__list {
        gap: 30px;
        list-style: none;
        padding-top: 30px;

        &--border {
            border: 1px solid $contactColor;
            border-radius: 0px 0px 4px 4px;
            background-color: #fff;
            height: 450px;
            box-shadow: 0px 0px 2px 0px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    &__item {
        object-fit: cover;
        height: auto;
        text-align: center;
        letter-spacing: 0.03em;

        &--name {
            font-weight: 500;
            font-size: 16px;
            padding-top: 30px;
            padding-bottom: 10px;
            text-align: center;
        }
        &--job {
            font-weight: 400px;
            font-style: normal;
            color: $contactColor;
            height: 30px;
            text-align: center;
        }
    }
    &__social {
        display: flex;
        flex-direction: row;
        fill: $contactColor;
        justify-content: space-between;
        margin: auto;
        list-style: none;
        padding-bottom: 20px;
        max-width: 206px;

        &--item {
            margin: auto;
            fill: $contactColor;
            cursor: pointer;
            width: 44px;
            height: 44px;
            padding: 12px;

            &:hover,
            &:focus {
                fill: $titleColor;
                background-color: $accentColor;
                padding: 10px;
                border-radius: 50%;
                transition-duration: 250ms;
                transition-timing-function: $cubicBezier;
            }
        }
    }
}
@media screen and (min-width: 601px) {
    .team {
        display: flex;

        &__list {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
        }
        &__social {
            display: flex;

            &--item {
                margin: auto;
                fill: $contactColor;
                cursor: pointer;
                width: 44px;
                height: 44px;
                padding: 12px;

                &:focus {
                    fill: $titleColor;
                    background-color: $accentColor;
                    padding: 10px;
                    border-radius: 50%;
                    transition-duration: 250ms;
                    transition-timing-function: $cubicBezier;
                }
            }
        }
    }
}
