.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1600px;
    min-height: 400px;
    background-color: rgba(47, 48, 58);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/responsive-background/main-image-1x.jpg");
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .title {
        background-image: url("../images/responsive-background/main-image-2x.jpg");
    }
}

.title__name {
    color: $titleColor;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
}

.main__button {
    color: $titleColor;
    cursor: pointer;
    background-color: $accentColor;
    font-weight: 700;
    font-size: $fontSizeMedium;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.96px;
    justify-content: center;
    text-align: center;
    margin-left: 130px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .title {
        height: 400px;

        &__name {
            padding-left: 170px;
            padding-right: 170px;
        }
        .main__button {
            margin-left: 260px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-family: "Raleway", sans-serif;
        color: $titleColor;
        max-width: 1600px;
        margin: auto;
        height: 600px;

        &__name {
            font-style: normal;
            font-weight: 900;
            line-height: 60px;
            line-height: 60px;
            letter-spacing: 2.64px;
            text-align: center;
            font-size: 44px;
            width: 696px;
            height: 120px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
    .main__button {
        margin: auto;
        justify-content: center;
        text-align: center;
    }
}
